@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: "Montserrat", serif;
    font-weight: 500;
}

b {
    font-weight: 700;
}

tt, pre, kbd {
    font-family: "Source Code Pro", monospace;
}

pre span {
    font-family: "Source Code Pro", monospace;
}

pre {
    padding: 4px;
    margin: 4px;
    background: #252525;
    color: white;
}

p {
    font-size: 16px;
}

.fnl--index-item {
    font-size: 16px;
}

h1 {
    font-family: "Roboto Slab", "Arial", sans-serif;
    font-weight: 600;
    font-size: 36px;
}
h2 {
    font-family: "Roboto Slab", "Arial", sans-serif;
    font-weight: 400;
    font-size: 28px;
}
h3 {
    font-family: "Roboto Slab", "Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

main {
    display: grid;
    grid-template-areas:
        ". title title ."
        ". .     mount ."
        ". .     .     ."
    ;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 1fr 4fr 2fr;
}
main>.-title {
    grid-area: title;
}
main>.-mount {
    grid-area: mount;
}

.fnl--box {
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
}


/* FNL Syntax Highlighting! */

.code--fnl--ws { color: #3bec76; font-style: italic }  /* whitespace, including comments */
.code--fnl--string { color: #dbf5cd; }
.code--fnl--raw-string { color: #dbf5cd; }
.code--fnl--integer { color: #6598d3; }

.code--fnl--ampersand { color: #f06728; }
.code--fnl--name { color: #08ceff; font-weight: 600 }
.code--fnl--ampersand+.code--fnl--name { color: #dd4ea2; }

.code--fnl--left-paren { color: #ff8f8f; }
.code--fnl--rpar { color: #ff8f8f; }

.code--fnl--sexpr {
    transition: outline 0.1s linear, background 0.1s linear;
    outline: 1px solid  rgba(255, 255, 255, 0);
}
.code--fnl--sexpr .code--fnl--sexpr:hover {
    outline: 2px solid rgba(255, 255, 255, 0.15);
    background: rgba(0, 0, 0, 0.1);
}
